openapi: 3.0.3
info:
  title: EnterpriseHub Service 6 Enhanced API
  version: 2.0.0
  description: |
    Unified API specification across all 4 parallel development phases:
    - Phase 1: Security & Infrastructure 
    - Phase 2: AI Enhancement
    - Phase 3: Frontend Enhancement  
    - Phase 4: Deployment & Scaling

servers:
  - url: https://api.enterprisehub.com/v2
    description: Production server
  - url: https://staging-api.enterprisehub.com/v2
    description: Staging server
  - url: http://localhost:8000/v2
    description: Development server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common Models
    UserRole:
      type: string
      enum: [admin, executive, agent, viewer]
      
    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        data:
          type: object
        timestamp:
          type: string
          format: date-time

    # Phase 1: Security & Infrastructure Models
    AuthRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        user:
          $ref: '#/components/schemas/User'
        expires_in:
          type: integer
        permissions:
          type: array
          items:
            type: string

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        created_at:
          type: string
          format: date-time
        last_login:
          type: string
          format: date-time

    # Phase 2: AI Enhancement Models
    LeadScoreRequest:
      type: object
      required: [lead_id]
      properties:
        lead_id:
          type: string
        context:
          type: object
          description: Additional context for scoring
        force_refresh:
          type: boolean
          default: false

    LeadScore:
      type: object
      properties:
        lead_id:
          type: string
        score:
          type: number
          minimum: 0
          maximum: 100
        confidence:
          type: number
          minimum: 0
          maximum: 1
        explanation:
          type: string
        factors:
          type: array
          items:
            type: object
            properties:
              factor:
                type: string
              weight:
                type: number
              impact:
                type: string
                enum: [positive, negative, neutral]
        model_version:
          type: string
        updated_at:
          type: string
          format: date-time

    VoiceAnalysisRequest:
      type: object
      required: [audio_url]
      properties:
        audio_url:
          type: string
          format: uri
        lead_id:
          type: string
        call_id:
          type: string

    VoiceAnalysis:
      type: object
      properties:
        call_id:
          type: string
        transcript:
          type: string
        sentiment:
          type: object
          properties:
            overall:
              type: string
              enum: [positive, neutral, negative]
            score:
              type: number
              minimum: -1
              maximum: 1
        key_insights:
          type: array
          items:
            type: string
        next_actions:
          type: array
          items:
            type: string
        processed_at:
          type: string
          format: date-time

    # Phase 3: Frontend Enhancement Models
    DashboardMetrics:
      type: object
      properties:
        user_role:
          $ref: '#/components/schemas/UserRole'
        metrics:
          type: object
          properties:
            total_leads:
              type: integer
            hot_leads:
              type: integer
            conversion_rate:
              type: number
            revenue_today:
              type: number
            calls_today:
              type: integer
        last_updated:
          type: string
          format: date-time
        permissions:
          type: array
          items:
            type: string

    RealTimeUpdate:
      type: object
      properties:
        type:
          type: string
          enum: [lead_score_update, new_lead, call_completed, metric_update]
        data:
          type: object
        timestamp:
          type: string
          format: date-time
        user_permissions:
          type: array
          items:
            type: string

    # Phase 4: Deployment & Scaling Models
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          properties:
            database:
              $ref: '#/components/schemas/ServiceHealth'
            redis:
              $ref: '#/components/schemas/ServiceHealth'
            ai_models:
              $ref: '#/components/schemas/ServiceHealth'
            ghl_api:
              $ref: '#/components/schemas/ServiceHealth'

    ServiceHealth:
      type: object
      properties:
        status:
          type: string
          enum: [up, down, degraded]
        response_time:
          type: number
        error_rate:
          type: number
        last_check:
          type: string
          format: date-time

    ScalingMetrics:
      type: object
      properties:
        cpu_usage:
          type: number
          minimum: 0
          maximum: 100
        memory_usage:
          type: number
          minimum: 0
          maximum: 100
        request_rate:
          type: number
        response_time:
          type: number
        error_rate:
          type: number
        active_connections:
          type: integer

paths:
  # Phase 1: Security & Infrastructure Endpoints
  /auth/login:
    post:
      summary: User authentication
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
        '429':
          description: Rate limit exceeded

  /auth/refresh:
    post:
      summary: Refresh access token
      tags: [Authentication]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /users/me:
    get:
      summary: Get current user profile
      tags: [Users]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'

  # Phase 2: AI Enhancement Endpoints
  /ai/score-lead:
    post:
      summary: Generate AI-powered lead score
      tags: [AI Scoring]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadScoreRequest'
      responses:
        '200':
          description: Lead score generated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LeadScore'
        '429':
          description: AI rate limit exceeded

  /ai/batch-score:
    post:
      summary: Batch lead scoring for multiple leads
      tags: [AI Scoring]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lead_ids:
                  type: array
                  items:
                    type: string
                  maxItems: 100
      responses:
        '200':
          description: Batch scoring completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/LeadScore'

  /ai/voice-analysis:
    post:
      summary: Analyze voice call with AI
      tags: [Voice AI]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceAnalysisRequest'
      responses:
        '200':
          description: Voice analysis completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/VoiceAnalysis'
        '202':
          description: Analysis in progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  estimated_completion:
                    type: string
                    format: date-time

  # Phase 3: Frontend Enhancement Endpoints
  /dashboard/metrics:
    get:
      summary: Get dashboard metrics for current user
      tags: [Dashboard]
      security:
        - bearerAuth: []
      parameters:
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [today, week, month, quarter]
          description: Timeframe for metrics
      responses:
        '200':
          description: Dashboard metrics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DashboardMetrics'

  /dashboard/real-time:
    get:
      summary: WebSocket endpoint for real-time updates
      tags: [Real-time]
      security:
        - bearerAuth: []
      responses:
        '101':
          description: WebSocket connection established
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions

  /dashboard/export:
    post:
      summary: Export dashboard data
      tags: [Dashboard]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                format:
                  type: string
                  enum: [csv, excel, pdf]
                metrics:
                  type: array
                  items:
                    type: string
                date_range:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date
                    end:
                      type: string
                      format: date
      responses:
        '200':
          description: Export ready for download
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  expires_at:
                    type: string
                    format: date-time

  # Phase 4: Deployment & Scaling Endpoints
  /health:
    get:
      summary: System health check
      tags: [Health]
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
        '503':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'

  /metrics:
    get:
      summary: System performance metrics
      tags: [Monitoring]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Performance metrics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ScalingMetrics'

  /scaling/status:
    get:
      summary: Auto-scaling status
      tags: [Scaling]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Scaling status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  auto_scaling_enabled:
                    type: boolean
                  current_replicas:
                    type: integer
                  desired_replicas:
                    type: integer
                  cpu_target:
                    type: number
                  memory_target:
                    type: number

  # Cross-Phase Integration Endpoints
  /integration/test:
    get:
      summary: Integration health check across all phases
      tags: [Integration]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All integrations healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  phase_1_security:
                    type: boolean
                  phase_2_ai:
                    type: boolean
                  phase_3_frontend:
                    type: boolean
                  phase_4_scaling:
                    type: boolean
                  overall_status:
                    type: string
                    enum: [healthy, degraded, unhealthy]

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Users
    description: User management operations
  - name: AI Scoring
    description: AI-powered lead scoring
  - name: Voice AI
    description: Voice call analysis
  - name: Dashboard
    description: Dashboard metrics and data
  - name: Real-time
    description: Real-time data updates
  - name: Health
    description: System health monitoring
  - name: Monitoring
    description: Performance monitoring
  - name: Scaling
    description: Auto-scaling operations
  - name: Integration
    description: Cross-phase integration testing